### AUTH SOURCE CONFIG ###
SAML2_ENTITY_ID=""
SAML2_AUTO_SELECT_IDP=true
SAML2_IDP=""

### saml20-idp-remote config ###
SAML2_IDP_SSO=""
SAML2_IDP_SLO=""
SAML2_IDP_ARS=""
SAML2_SIGN_REQUEST=true
SAML2_IDP_x509_CERT=""
SAML2_SIGN_PRIVATE_KEY_FILE="keycloak.pem" # File name of Priavte key file in certs folder in pem format
SAMP2_ADMIN_PAGE=false
